{% extends 'syntaxandstories/base.html' %}

{% block content%}
<!-- Main container -->
<div class="bg-none w-11/12 sm:w-8/12 flex flex-col space-y-5 px-4 py-4  mx-auto">
    <!-- Back button and Settings -->
    <div class="flex items-start justify-between">
        <button onclick="history.back()" class="text-white text-lg flex gap-2 font-bold bg-linear-to-r from-violet-600 to-fuchsia-600 p-2 rounded-lg hover:shadow-2xl">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
            </svg>        
            Back
        </button>
        <p class="text-3xl font-bold bg-linear-to-r from-violet-600 to-fuchsia-600 bg-clip-text text-transparent">
            Settings
        </p>
    </div>
    <!-- Account settings -->
    <div class="w-full select-none rounded-2xl shadow-2xl">
        <div class="flex items-start bg-violet-200 w-full rounded-t-2xl py-4 px-4">
            <p class="font-bold text-2xl">
                Account
            </p>
        </div>

        <!-- Email -->
        <div class="w-full select-none bg-white p-3 text-black flex items-center justify-between hover:bg-violet-200 transition-all duration-500">
            <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 stroke-2 stroke-violet-600 bg-violet-200 p-2 rounded-lg">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                </svg>
                <div class="flex flex-col">
                    <p class="font-bold">Change Email</p>
                    <p class="text-xs text-gray-500 font-bold">
                        {{request.user.email}}
                    </p>
                </div>  
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3" />
            </svg>
            <!-- End of email -->
        </div>


        <!-- Change Password -->
        <div class="w-full select-none bg-white border-t rounded-b-2xl border-gray-300 p-3 text-black flex items-center justify-between hover:bg-violet-200 transition-all duration-500">
            <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 stroke-violet-600 bg-violet-200 p-2 rounded-lg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
                </svg>
                <div class="flex flex-col">
                    <p class="font-bold">
                        Change Password
                    </p>
                    <p class="text-xs text-gray-500 font-bold">
                        Update your password
                    </p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3" />
            </svg>
            <!-- End of change password -->
        </div>
        <!-- End of account settings div -->
    </div>

    <!-- Profile settings -->
    <div class="w-full rounded-t-2xl select-none">
        <div class="w-full flex items-start rounded-t-2xl bg-violet-200 py-4 px-4">
            <p class="font-bold text-2xl">
                Profile
            </p>
        </div>
        <!-- Profile Settings -->
        <div class="w-full select-none bg-white p-3 rounded-b-2xl text-black flex items-center justify-between hover:bg-violet-200 transition-all duration-500">
            <div class="flex gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10 stroke-violet-600 bg-violet-200 p-2 rounded-lg">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                </svg>
                <div class="flex flex-col">
                    <p class="font-bold">
                        Edit Profile
                    </p>
                    <p class="text-xs text-gray-500 font-bold">
                        Make changes to profile
                    </p>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="m15 15 6-6m0 0-6-6m6 6H9a6 6 0 0 0 0 12h3" />
            </svg>
            <!-- End of profile -->
        </div>
    </div>

    <!--  -->

</div>
{% endblock content%}