{% extends 'syntaxandstories/base.html' %}

{% block content %}

<p>

    Welcome to
    Syntax and Stories!
    Where code meets creativity
    Step into a space where code meets creativity. At Syntax and Stories, I share everything from coding projects and tech experiments to personal insights and stories that spark curiosity.
    
    Whether you're here to learn, get inspired, or just explore, there's something for everyone.
    
    Dive into the posts, explore the projects, and join the conversation — because every story and every line of code has a place here.
</p>

{% endblock %}